@font-face {
  font-family: 'Gidole';
  src: url(./fonts/Gidole-Regular.eot);
  src: url(./fonts/Gidole-Regular.eot?#iefix) format('embedded-opentype'),
      url(./fonts/Gidole-Regular.woff2) format('woff2'),
      url(./fonts/Gidole-Regular.woff) format('woff'),
      url(./fonts/Gidole-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tip {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0;
  padding-top: 4px; padding-bottom: 4px;
  font-size: 16px;
}

.tip.info {
  border: 1px solid rgb(46, 115, 206);
  color: rgb(72, 137, 221);
}

.tip.info::before {
  content: "INFO";
  margin-right: 10px;
  color: rgb(68, 132, 216);
  font-weight: bold;
}

textarea {
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgb(173, 173, 173);
  resize: none;
  padding: 10px;
  font-size: 18px;
  font-family: 'Gidole';
  outline: none;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 10;
  
}

button {
  font-family: 'Gidole';
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.App {
  width: 100%;
  height: 100%;
  font-family: 'Gidole';
  overflow-y: hidden;
}

.App-header {
  background: linear-gradient(135deg, #E3E5DD 0%, hsl(0, 0%, 100%) 150%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.frames {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
}

.frames div {
  padding-left: 20px; padding-right: 20px;
  width: calc(100% - 40px);
}

.frames .nav {
  position: relative;
  width: calc(100% - 40px);
  min-height: 100vh;
  background-color: #2F2A37;
}

.frames .nav .items {
  margin-top: 15px;
  position: relative;
}

.frames .nav h2, .frames .nav .items h3 {
  color: #E3E5DD;
  letter-spacing: 6px;
  margin-top: 10px; margin-bottom: 10px;
}

.frames .nav h2 {
  font-size: 42px;
  background: -webkit-linear-gradient(#E3E5DD, #a38181);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

.frames .nav .items h3 {
  width: 100%;
  height: 40px;
  font-weight: 100;
  font-size: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 0;
  background: -webkit-linear-gradient(#E3E5DD, #E3E5DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background: linear-gradient(90deg,  0%,  5%);
  transition: padding-left 0.3s ease,
              background 0.3s ease;
}

.frames .nav .items h3:hover {
  padding-left: 7px;
  background: -webkit-linear-gradient(#E3E5DD, #d87d8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  
  border-right: 15px solid #E3E5DD; 
}

.frames .nav .items .tabSelector {
  position: absolute;
  width: 0;
  right: -20px; /* account for padding */

  transition: top 0.5s ease;
}

.frames .content {
  color: #2F2A37;
}

.frames .content h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.frames .content h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button.textareaButton {
  position: relative;
  width: 50%;
  margin: 0;
  height: 0;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  background-color: rgba(231, 231, 231, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  
  top: -15px;
  color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: 
    top 0.5s ease,
    height 0.5s ease,
    color 0.75s ease,
    background-color 0.5s ease 0.2s;
  z-index: 0;
}

#embedInput:focus ~ #embedInputCopy { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}
#embedInput:focus ~ #embedInputPaste { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}

#embedHidden:focus ~ #embedHiddenCopy { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}
#embedHidden:focus ~ #embedHiddenPaste { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}

#embedOutputCopy { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}
#embedOutputClear { top: -5px; height: auto; color: rgb(54, 54, 54); background-color: rgb(255, 255, 255); visibility: visible;}

button.textareaButton.left {border-bottom-right-radius: 0px; border-right: none;}
button.textareaButton.right {border-bottom-left-radius: 0px;}

button.textareaButton.disabled {
  cursor: not-allowed;
  color: rgb(146, 79, 79);
}

.buttonCenter {
  width: 100%;
  text-align: center;
}

button.action {
  background-color: #50cc40;
  font-size: 18px;
  color: #2F2A37;
  border: none;
  width: 300px;
}

.tip.info.moveDown {
  margin-top: 10px;
}

.io {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 50% 50%;
  
}

.io div {
  padding: 0;
  width: 100%;
  height: 100%;
}